* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  min-width: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f2a54a;
}

.container {
  display: grid;
  grid-template-columns: 313px 313px 313px;
  grid-template-rows: 1fr 548px;
  grid-gap: 50px;
  justify-content: center;
  align-items: center;
}

.header {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

h1 {
  font-size: 8.5em;
  text-align: center;
  color: white;
  animation-name: first;
  animation-duration: 2s;
}

.card1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  animation: second;
  animation-duration: 2s;
  transition: all 0.5s ease-in;
}
.card1:hover {
  transform: scale(1.1);
}

.card2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  animation: third;
  animation-duration: 2s;
  transition: all 0.5s ease-in;
}
.card2:hover {
  transform: scale(1.1);
}

.card3 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  animation: four;
  animation-duration: 2s;
  transition: all 0.5s ease-in;
}
.card3:hover {
  transform: scale(1.1);
}
.card1_top {
  width: 313px;
  height: 312px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}
.card2_top {
  width: 313px;
  height: 312px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}
.card3_top {
  width: 313px;
  height: 312px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}
.card1_bottom {
  width: 313px;
  height: 232px;
  background: #7000ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.card2_bottom {
  width: 313px;
  height: 232px;
  background: #7000ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.card3_bottom {
  width: 313px;
  height: 232px;
  background: #7000ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.card-name {
  margin-top: 14px;
  font-weight: bolder;
  font-size: 1.5em;
  color: black;
}

.card-image {
  height: 129px;
  width: 133px;
  border-radius: 50%;
  margin-top: 30px;
}

.social-icons {
  list-style: none;
}

.social-icons li {
  display: inline-block;
}

.social-icons i {
  background: #6f6f6f;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  vertical-align: middle;
  color: #ffff;
  font-size: 1.5em;
  margin-left: 8px;
}

p {
  font-weight: 200;
  font-size: 0.8rem;
  text-align: left;
  padding: 6%;
  letter-spacing: 0.2px;
}

@keyframes first {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes second {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes third {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes four {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
